@font-face {
	font-family: 'Timber';
	src: url('../fonts/Timber.eot');
	src: url('../fonts/Timber.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Timber.woff') format('woff'),
		url('../fonts/Timber.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Moon-Light';
	src: url('../fonts/Moon-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Moon-Bold';
	src: url('../fonts/Moon-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}



/*==============================================================
   SITE STYLES
 =============================================================*/
    html { position: relative; height: 100%; }
	body { height: 100%; margin-top: 40px;}
	footer { width: 100%; background-color: #202020; color: #606060; color: #fff; padding-top: 15px;}
	.container.page {min-height: 100%; height: 100%; height: auto; padding-bottom:200px; }
	.container.page.no-title {padding-top: 50px;}
	.img-max {max-width: 100%; max-height: 100%;}
	.max-width {max-width: 100%;}
	.jumbotron.pagetitle {padding-top: 25px; padding-bottom: 25px; font-family: 'Oswald', sans-serif;}

	.navbar-form.navbar-right {margin-top: 10px;}

	.navbar-form input {background-color: #808080; border-color: #808080; font-weight: bold;}
	.btn-navbar {color: #333; background-color: gray; border-color: transparent;}
	.list-unstyled .list-unstyled {margin-left: 15px;}
	.nav > li > a:hover, .nav > li > a:focus {background: #9b51b8; color: #f5f1ed;}

	.modal label {color: #f5f1ed;}

	table.thead-bordered thead th {border-bottom: 2px solid #ddd;}

	.avatar-image {border: 3px solid #333;}

	.pw-modal-window {width: 80% !important;}
/*==============================================================
   SITE STYLES
 =============================================================*/
 	.back-to-top {cursor: pointer; position: fixed; bottom: 20px; right: 20px; display:none;}
	.header-logo { float: left; margin-top: 5px; margin-bottom: 5px;}
	.site-name {color: #808080; font-family: 'Moon-Light';}

	.timberfont { font-family: 'Timber';}
	.moonlight { font-family: 'Moon-Light';}
	.moonbold { font-family: 'Moon-Bold';}
	.oswald { font-family: 'Oswald', sans-serif;}

	.navbar-brand { font-size: 25px; margin-top: 5px; }

	.jumbotron.pagetitle { color: #fff;}
		.jumbotron.pagetitle h1 {margin-top: 0px;}


	.inline-block { display: inline-block;}

	.close-menu { position: fixed; top: 10px;left: 260px; padding: 7px; color: #fff; z-index: 1200;  display: none; }

	 .close-menu:hover { color: #fff;}

	 .alert.with-icon {padding:0px; border: 0px;}
	 	.alert.with-icon .alert-message {padding-left: 0px; padding-top: 15px; padding-bottom: 15px; padding-right: 15px;}
		.alert.with-icon.alert-dismissable .close, .alert.with-icon.alert-dismissible .close {right: 15px;}
	 .padding15 {padding: 15px;}
	 .alert-danger .alert-icon {background: #921519;}

/*==============================================================
   NAV MENU
 =============================================================*/
	#slide-menu {
		background-color: #404040; z-index: 1200; position: fixed; box-shadow: 5px 10px 15px 5px rgba(0,0,0,.1); display: none; top: 0; width:250px;
		height: 100%;
	}
	#slide-menu .site-logo {height: 45px; margin-left: 10px;}

	#slide-menu .dropdown-header { color: #cc181e; }
	#slide-menu .heading { color: #cc181e; }
	#slide-menu li>a { padding-top: 8px; padding-bottom: 8px; color: #d9d9d9;}
 	#slide-menu li.logout>a { color: #FFF;}

	@media screen and (max-width: 768px) {
		 #slide-menu li>a { padding-top: 10px; padding-bottom: 10px; }
		 #slide-menu { overflow-y: scroll; max-height: 90%; }
	 }

	li.divider {border-bottom: 1px solid #ccc; }
	a.navbar-brand.slide-menu-open {height: auto;}
	a.navbar-brand.slide-menu-open:hover { background: #5762d5; color: #f8f8f8; }
	a.slide-menu-open.menu-open { background: #242F40; color: #f8f8f8; }
	#slide-menu .active {background: #9b51b8;}

	.menu-brand {color: #808080; font-size: 25px;}

	#slide-menu .material-icons {font-size: 18px;margin-left: -2px; }

/*==============================================================
   ARTICLE STYLES
=============================================================*/
	.article-text { padding-left: 40px; padding-right: 40px; font-family: 'Lora', serif; font-size: 18px;}
	 @media only screen and (max-width: 800px) {
		.article-text{padding-left: 20px; padding-right: 20px;}
	 }
	 .article-text .img-responsive {display: inline-block;}
 /*==============================================================
    POST LIST STYLES
 =============================================================*/
	.post-list .post .image { height: 250px; overflow-x: hidden; }
	.post-list .post:first-of-type .image {height: 300px;}
	.post-list .post .post-image {border-bottom: 12px solid transparent;}
	.post-list .post .post-title h1, .post-list .post .post-title h2,
	.post-list .post .post-title h3, .post-list .post .post-title h4,
	.post-list .post .post-title h5, .post-list .post .post-title h6,
	.post-list .post .post-title .h1, .post-list .post .post-title .h2,
	.post-list .post .post-title .h3, .post-list .post .post-title .h4,
	.post-list .post .post-title .h5, .post-list .post .post-title .h6 {margin-top: 0px;}
	.post-title {padding: 15px 15px 5px 15px; color: #000; background-color: #fff; box-shadow: 0 0 10px rgba(0,0,0,.2)}
		.post-title a { color: #000;}
/*==============================================================
   PODCAST STYLES
=============================================================*/
	.podcast-post {background: #333; color:#f5f1ed;}
	.podcast-img-div {max-height: 400px; overflow: hidden;}
	.well.podcast-post{margin-bottom: 0px;}

/* =============================================================
   COMIC SEARCH RESULTS
================================================================ */
	.img-header {
	    height: 300px;
	    overflow: hidden;
		border-bottom: 12px solid transparent;
	}
	@media only screen and (max-width: 480px) {
	   .img-header {height: 200px;}
	}
